<ModConfiguration>
<Id>ReikaKalseki.ExpandedEquipment</Id>
<Name>ExpandedEquipment</Name>
<Version>1</Version>
<IsLocalMod>false</IsLocalMod>
<IsServerOnlyMod>false</IsServerOnlyMod>
<Description>
	Adds new equipment to improve your survivability or comfort:
	- Night Vision Goggles, allowing for some level of vision in dark caves (lighting is still very useful, but now it is not totally blacked out in the dark)
	- Spring Boots, cushioning fall damage, including saving you from a fatal fall if you are at max health
	- Item Magnet (two tiers), greatly increasing item collection range
	- Heat Resistant Suit, capable of saving you from lava and jet flames
	- Sand blaster, to quickly deal with large quantities of sand
</Description>
</ModConfiguration>